// For maths.
:root {
	--typography--cap-height--gill-sans: 0.681; // In em. Unitless for use in calc.
	--typography--cap-height--verdana:   0.727;
}

// Font metrics.
%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}



%font--gill-sans {
	@extend %--shoulders;

	--typography--cap-height:        var(--typography--cap-height--gill-sans);
	--typography--x-height:          0.448;
	--typography--shoulder--bottom:  0.157; // Vertical centering in the line box, across most sizes.

	--typography--inset--left:      -0.076; // Optical insets, left edge of capital "D".
	--typography--inset--right:     -0.058; // Right edge of “d” (since lines tend to end lowercase).

	--typography--underline:         0.080; // Height of crossbar on “t”.
	--typography--underline--shift: -0.069; // Shift down from baseline, to line up with bottom of descenders.

	font-family: 'Gill Sans', sans-serif;

	// Gill Sans on Windows is unreliable, so go for consistent Verdana.
	@at-root { :root.windows & { @extend %font--verdana } }
}

// Match cap heights of Gill to Verdana.
%font--gill-sans--on-verdana {
	@extend %font--gill-sans;

	--typography--size--override: calc(var(--typography--cap-height--verdana) / var(--typography--cap-height--gill-sans) * var(--typography--size));
}



%font--verdana {
	@extend %--shoulders;

	--typography--cap-height:        var(--typography--cap-height--verdana);
	--typography--x-height:          0.546;
	--typography--shoulder--bottom:  0.103;

	--typography--inset--left:      -0.098;
	--typography--inset--right:     -0.090;

	--typography--underline:         0.078; // 0.78, adjust for Safari rounding.
	--typography--underline--shift: -0.045;

	font-family: 'Verdana', sans-serif;
}



%font--extended {
	--typography--tracking: calc(1 / 6);
}
