@use 'utilities' as *;



// For maths.
:root {
	--typography--cap-height--verdana: 0.727; // In em. Unitless for use in calc.
	--typography--x-height--verdana:   0.546;

	--typography--cap-height--gill-sans: 0.681;
	--typography--x-height--gill-sans:   0.448;
}

// Font metrics.
%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));

	--typography--underline--clear:  1; // “True,” moves underline fully south of descender.
}



%font--verdana {
	@extend %--shoulders;
	@extend %--safari--rounding;

	--typography--cap-height:        var(--typography--cap-height--verdana);
	--typography--x-height:          var(--typography--x-height--verdana);
	--typography--shoulder--bottom:  0.103; // Vertical centering in the line box, across most sizes.

	--typography--inset--left:      -0.098; // Optical insets, left edge of capital "D".
	--typography--inset--right:     -0.090; // Right edge of “d” (since lines tend to end lowercase).

	--typography--underline:         0.078; // Height of crossbar on “t”.
	--typography--underline--shift: -0.045; // Shift down from baseline, to line up with bottom of descenders.

	font-family: 'Verdana', sans-serif;
}



%font--gill-sans {
	@extend %--shoulders;
	@extend %--safari--rounding;

	--typography--cap-height:        var(--typography--cap-height--gill-sans);
	--typography--x-height:          var(--typography--x-height--gill-sans);
	--typography--shoulder--bottom:  0.157;

	--typography--inset--left:      -0.076;
	--typography--inset--right:     -0.058;

	--typography--underline:         0.080;
	--typography--underline--shift: -0.069;

	font-family: 'Gill Sans', sans-serif;

	// Gill Sans on Windows is unreliable, so go for consistent Verdana.
	@at-root { :root.windows & { @extend %font--verdana } }
}



// Match cap heights to Verdana.
%font--gill-sans--on-verdana {
	@extend %font--gill-sans;

	--typography--size--override: calc(var(--typography--cap-height--verdana) / var(--typography--cap-height--gill-sans) * var(--typography--size));

	// Cancel this out in the leading.
	--typography--leading--override: calc(var(--typography--cap-height--gill-sans) / var(--typography--cap-height--verdana) * var(--typography--leading));
}

// Match inline caps to Verdana x-height.
%font--gill-sans--in-verdana {
	@extend %font--gill-sans--on-verdana;

	--typography--scale: calc(var(--typography--x-height--verdana) / var(--typography--cap-height--gill-sans));
}

// Match x-height to Verdana caps.
%font--gill-sans--x-verdana-cap {
	@extend %font--gill-sans--on-verdana;

	--typography--scale: calc(var(--typography--cap-height--gill-sans) / var(--typography--x-height--gill-sans));
}



%font--uppercase { text-transform: uppercase }

%font--extended {
	--typography--tracking: calc(1 / 6 * (1 / var(--typography--scale, 1))); // Adjust for scale.

	--typography--inset--right--override: calc(var(--typography--inset--right) - var(--typography--tracking));
}



// Adjustments for Safari whole-point rounding (up to 18pt), lower for cascade.
%--safari--rounding {
	@include browser(safari) {
		--typography--underline:         0.056;
		--typography--underline--shift: -0.089;
	}
}
