@use 'utilities' as *;



// Font metrics.
:root {
	--typography--cap-height--verdana:   0.727; // In em. Unitless for use in calc.
	--typography--x-height--verdana:     0.546;

	--typography--cap-height--gill-sans: 0.681;
	--typography--x-height--gill-sans:   0.448;

	--typography--cap-height--sf-mono:   0.705;
	--typography--x-height--sf-mono:     0.526;
}

%--calcs {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));

	--typography--underline--distance: calc(var(--typography--underline--shift, 0) + var(--typography--underline));

	--typography--underline--clear: 1; // “True,” moves underline fully south of descender.
}



%font--verdana {
	@extend %--calcs;
	@extend %--safari--rounding;

	--typography--cap-height:        var(--typography--cap-height--verdana);
	--typography--x-height:          var(--typography--x-height--verdana);
	--typography--shoulder--bottom:  0.103; // Vertical centering in the line box, across most sizes.

	--typography--inset--left:      -0.098; // Optical insets, left edge of capital "D".
	--typography--inset--right:     -0.090; // Right edge of “d” (since lines tend to end lowercase).

	--typography--underline:         0.078; // Height of crossbar on “t”.
	--typography--underline--shift: -0.123; // Shift down from baseline, to line up with bottom of descenders.

	font-family: 'Verdana', sans-serif;
}



%font--gill-sans {
	@extend %--calcs;
	@extend %--safari--rounding;

	--typography--cap-height:        var(--typography--cap-height--gill-sans);
	--typography--x-height:          var(--typography--x-height--gill-sans);
	--typography--shoulder--bottom:  0.157;

	--typography--inset--left:      -0.076;
	--typography--inset--right:     -0.058;

	--typography--underline:         0.080;
	--typography--underline--shift: -0.149;

	font-family: 'Gill Sans', sans-serif;

	// Gill Sans on Windows is unreliable, so go for consistent Verdana.
	@at-root { :root.windows & { @extend %font--verdana } }
}



// Normalize cap heights to Verdana.
%font--gill-sans--on-verdana {
	@extend %font--gill-sans;

	--typography--size--override: calc(var(--typography--cap-height--verdana) / var(--typography--cap-height--gill-sans) * var(--typography--size));

	// Cancel this out in the leading.
	--typography--leading--override: calc(var(--typography--cap-height--gill-sans) / var(--typography--cap-height--verdana) * var(--typography--leading));
}

// Adjust inline caps to Verdana x-height.
%font--gill-sans--in-verdana {
	@extend %font--gill-sans--on-verdana;

	--typography--scale: calc(var(--typography--x-height--verdana) / var(--typography--cap-height--gill-sans));
}

// Adjust x-height to Verdana caps.
%font--gill-sans--x-verdana-cap {
	@extend %font--gill-sans--on-verdana;

	--typography--scale: calc(var(--typography--cap-height--gill-sans) / var(--typography--x-height--gill-sans));
}

// Adjust x-height to Verdana x-height.
%font--gill-sans--x-verdana-x {
	@extend %font--gill-sans--on-verdana;

	--typography--scale: calc(var(--typography--x-height--verdana) / var(--typography--x-height--gill-sans));
}



%font--sf-mono {
	@extend %--calcs;

	--typography--cap-height:        var(--typography--cap-height--sf-mono);
	--typography--x-height:          var(--typography--x-height--sf-mono);
	--typography--shoulder--bottom:  0.145;

	--typography--inset--left:      -0.055;
	--typography--inset--right:     -0.054;

	--typography--underline:         0.063;
	--typography--underline--shift: -0.115;

	font-family: 'SF Mono', ui-monospace, monospace;
}

%font--sf-mono--on-verdana { // Normalize as before.
	@extend %font--sf-mono;

	--typography--size--override: calc(var(--typography--cap-height--verdana) / var(--typography--cap-height--sf-mono) * var(--typography--size));

	--typography--leading--override: calc(var(--typography--cap-height--sf-mono) / var(--typography--cap-height--verdana) * var(--typography--leading));
}

%font--sf-mono--in-verdana {
	@extend %font--sf-mono--on-verdana;

	--typography--scale: 0.9; // Optical adjustment for “fixed-widthedness.”
}



%font--uppercase { text-transform: uppercase }

%font--extended {
	--typography--tracking: calc(1 / 6 * (1 / var(--typography--scale, 1))); // Adjust for scale.

	--typography--inset--right--override: calc(var(--typography--inset--right) - var(--typography--tracking));
}



// Adjustments for Safari whole-point rounding (up to 18pt), lower for cascade.
%--safari--rounding {
	@include browser(safari) {
		--typography--underline:         0.056;
		--typography--underline--shift: -0.089;
	}
}
