@use 'utilities' as *;

@forward 'typography';



// Active/focus states.
%--active-focus {
	-webkit-tap-highlight-color: var(--color--highlight);
	border-radius:               var(--link--radius);
	cursor:                      pointer;
	transition-duration:         var(--link--transition);
	transition-property:         background-color, color, text-decoration-color;
	transition-timing-function:  linear;

	&:active { background-color: var(--color--highlight) }

	&:focus {
		outline: none;
		z-index: 1;

		&:focus-visible:not(:disabled) {
			@extend %typography--underline--disable;

			--color: var(--color--hover);

			outline-color:       var(--color);
			outline-style:       solid;
			outline-width:       var(--link--outline);
			transition-duration: initial;
		}
	}

	@include hover {
		--color: var(--color--hover);

		background-color:      var(--color--highlight);
		text-decoration-color: transparent;

		&:active { background-color: var(--color--highlight--more) } // Two-step.
	}
}



// Container links.
%link--element {
	@extend %--active-focus;

	display:        flex;
	flex-direction: column;
	margin:         calc(var(--link--enlargement) * -1);
	padding:        var(--link--enlargement);
	width:          fit-content;
}

// In-text links.
%link--text {
	@extend %--active-focus;
	@extend %typography--underline;

	color:          var(--color);
	margin-left:    calc(-1 * var(--link--enlargement));
	margin-right:   calc(-1 * (var(--link--enlargement) + var(--typography--inset--right--override, 0) * 1em));
	padding-bottom: calc(var(--link--enlargement) - var(--typography--content--bottom) * 1em);
	padding-left:   var(--link--enlargement);
	padding-right:  calc(var(--link--enlargement) + var(--typography--inset--right--override, 0) * 1em);
	padding-top :   calc(var(--link--enlargement) - var(--typography--content--top) * 1em);

	// This sadly doesn’t work in Safari, and causes overflows.
	@include browser(chrome) { -webkit-box-decoration-break: clone }
}
