@use 'utilities' as *;

@forward 'typography';
@forward 'fonts';
@forward 'links';



#Main {
	display:        flex;
	flex-direction: column;
	row-gap:        var(--typography--line--2);

	h2.dateline {
		@extend %font--extended;
		@extend %font--gill-sans--on-verdana;

		--color: var(--color--tertiary);

		text-transform: uppercase;
	}

	dl.linkedlist {
		display:        flex;
		flex-direction: column;
		row-gap:        var(--typography--line--2);
	}



	p > a { @extend %link--text }
}
