@use "utilities" as *;

@forward 'typography';
@forward 'fonts';
@forward 'links';



// Variables and layout.
body {
	@extend %font--verdana;
	@extend %typography--layout;

	--typography--leading: 1.8;
	--typography--size:    1.4rem;

	--color--slate: #4a525a;
	--color--white: white;

	--color:             var(--color--white);
	--color--background: var(--color--slate);

	background-color: var(--color--slate);
	color:            var(--color--white);
	padding:          var(--typography--lead);
}
