// Sizing and aliasing.
:root {
	font-feature-settings: 'liga', 'kern';
	font-size:             62.5%;

	* {
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		-webkit-text-size-adjust: none;
		font-kerning:             normal;
		font-smooth:              always;
		text-rendering:           optimizeLegibility;
	}
}



// Basics.
em, em em em { font-style: italic }

em em { font-style: normal }

del { text-decoration: line-through }

nobr, .nowrap { white-space: nowrap }



// Face/weight.
%--variables--face {
	// Render to em.
	--typography--letter-spacing: calc(var(--typography--tracking--override, var(--typography--tracking, 0)) * 1em);
	--typography--margin--left:   calc(var(--typography--inset--left--override, var(--typography--inset--left, 0)) * 1em);
	--typography--margin--right:  calc(var(--typography--inset--right--override, var(--typography--inset--right, 0)) * 1em);
}

// Size/spacing.
%--variables--leading {
	// Calculated absolutely for scaled/shifted type on same baseline.
	--typography--size--rendered: (var(--typography--size--override, var(--typography--size)) * var(--typography--factor, 0.1rem));

	--typography--font-size:   calc(var(--typography--scale, 1) *   var(--typography--size--rendered));
	--typography--line-height: calc(var(--typography--leading--override, var(--typography--leading, 1)) * var(--typography--size--rendered));

	// Internal variables to keep things (somewhat) tidy.
	--typography--leading--remainder: ((var(--typography--leading--override, var(--typography--leading, 1)) - 1) / 2); // Half above/below.
	--typography--scale--remainder:   ((var(--typography--scale, 1) - 1) / 2);
	--typography--scale--shoulder:    (var(--typography--shoulder--bottom) - var(--typography--shoulder--bottom) * var(--typography--scale, 1));
	--typography--scale--shift:       (var(--typography--scale--remainder) + var(--typography--scale--shoulder));
	--typography--leading--bottom:    (var(--typography--shoulder--bottom) + var(--typography--leading--remainder) - var(--typography--scale--shift));
	--typography--leading--top:       (var(--typography--shoulder--top) +    var(--typography--leading--remainder) + var(--typography--scale--shift));

	// Total space above/below—also rendered absolute for scaling/shifting.
	--typography--margin--bottom: calc(-1 * var(--typography--leading--bottom) * var(--typography--size--rendered));
	--typography--margin--top:    calc(-1 * var(--typography--leading--top) *    var(--typography--size--rendered));

	// Calculated spacing variables for layout.
	--typography--cap:    calc(var(--typography--cap-height) * var(--typography--font-size));
	--typography--cap--2: calc(var(--typography--cap-height) * 2 * var(--typography--font-size));
	--typography--cap--3: calc(var(--typography--cap-height) * 3 * var(--typography--font-size));
	--typography--cap--4: calc(var(--typography--cap-height) * 4 * var(--typography--font-size));
	--typography--x:      calc(var(--typography--x-height) *   var(--typography--font-size));
	--typography--stroke: calc(var(--typography--underline) *  var(--typography--font-size));

	--typography--lead:    calc(var(--typography--line-height) - var(--typography--cap));
	--typography--line:    calc(var(--typography--line-height) + var(--typography--lead));
	--typography--line--2: calc(var(--typography--line-height) * 2 + var(--typography--lead));
	--typography--line--3: calc(var(--typography--line-height) * 3 + var(--typography--lead));
	--typography--line--4: calc(var(--typography--line-height) * 4 + var(--typography--lead));
	--typography--line--4: calc(var(--typography--line-height) * 4 + var(--typography--lead));
}


%--basic-properties {
	font-size:   var(--typography--font-size);
	line-height: var(--typography--line-height);
}



// Bounding/line-box control.
h1, h2, h3, h4, h5, h6, td, p, %typography {
	@extend %--basic-properties;
	@extend %--variables--face;
	@extend %--variables--leading;

	color:          var(--color);
	display:        flow-root; // For  negative margins without flex parents.
	font-weight:    var(--typography--weight);
	letter-spacing: var(--typography--letter-spacing);
	margin-left:    var(--typography--margin--left);
	margin-right:   var(--typography--margin--right);
	word-break:     break-word; // Prevent container-breaking.

	// Pseudo-elements to negate the shoulders.
	&:before, &:after {
		content:    '';
		display:    block;
		visibility: hidden;
	}

	// Pulls bounding box down/up to cap-height
	&:before { margin-top:    var(--typography--margin--top) }
	&:after  { margin-bottom: var(--typography--margin--bottom) }
}

td { display: table-cell } // Flow-root breaks these.



// Type spacing on containers.
%typography--layout {
	@extend %--basic-properties;
	@extend %--variables--leading;
}



// Underlines.
%typography--underline {
	--typography--decoration-thickness: calc(var(--typography--underline) * 1em);
	--typography--underline-offset:     calc((var(--typography--underline--shift) - (2 * var(--typography--underline) * var(--typography--underline--clear, 0))) * 1em);
	// Allow for below-descender option.

	text-decoration-color:     var(--color--underline, var(--color));
	text-decoration-line:      underline;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset:     calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness));
}

%typography--underline--disable { text-decoration: initial }
