$legacy-threshold: 390;

$--default-font-fize: 16;

$--mobile-threshold--short: 440;
$--mobile-threshold--long:  840;

$--tall-threshold:   900;



// Targeting lingering, different browser behaviors.
@mixin browser($browsers...) {
	@if index($browsers, 'firefox') {
		@supports (-moz-appearance: none) { @content }
	}
	@if index($browsers, 'safari') {
		// This might change, when Chrome plays ball.
		@supports (-webkit-hyphens: none) { @content }
	}
	@if index($browsers, 'safari--mobile') {
		// Target iOS subset.
		@supports (-webkit-hyphens: none) and (-webkit-touch-callout: none) { @content }
	}
	@if index($browsers, 'safari--iphone') {
		// iPhones after 2020 or so, as no iPads are @3x (yet).
		@supports (-webkit-hyphens: none) and (-webkit-touch-callout: none) { @media (-webkit-min-device-pixel-ratio: 3) { @content } }
	}
	@if index($browsers, 'chrome') {
		@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) { @content }
	}
	@if index($browsers, 'chrome--mobile') {
		@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
			@media
				(max-width: #{calc(($--mobile-threshold--long - 1) / $--default-font-fize)}em) and (max-height: #{calc(($--mobile-threshold--short - 1) / $--default-font-fize)}em),
				(max-width: #{calc(($--mobile-threshold--short - 1) / $--default-font-fize)}em) and (max-height: #{calc(($--mobile-threshold--long - 1) / $--default-font-fize)}em)
			{ @content }
		}
	}
}



// Media queries.
@mixin legacy {
	// In landscape “device-width” is the height.
	@media
		(max-width: #{calc(($legacy-threshold - 1) / $--default-font-fize)}em),
		(orientation: landscape) and (max-device-width: #{calc(($legacy-threshold - 1) / $--default-font-fize)}em)
	{ @content }
}

@mixin width($break) {
	@media (min-width: #{calc($break / $--default-font-fize)}em) { @content }
}

@mixin landscape($break: false) {
	@if $break {
		@media (orientation: landscape) and (min-width: #{calc($break / $--default-font-fize)}em) { @content }
	}
	@else {
		@media (orientation: landscape) { @content }
	}
}

@mixin tall($break: $--tall-threshold) {
		@media (min-height: #{calc($break / $--default-font-fize)}em) { @content }
}

@mixin retina($density: 2) {
	@media (-webkit-min-device-pixel-ratio: #{$density}) { @content }
}



// Scope hovers.
@mixin hover {
	@media (any-hover: hover) { &:hover { @content } }
}
