<!doctype html>
<html>
	<head>
		<title>{{ .Site.Title }}</title>
		<meta content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		{{ $landing := (resources.Get `styles/landing.scss` | toCSS (dict `transpiler` `dartsass`)).RelPermalink }}
		<link href="{{ $landing }}" rel="stylesheet">
	</head>
	<body>
		{{ block `content` . }}{{ end }}
		{{ $bookmarklet := (resources.Get `scripts/bookmarklet.js` | resources.ExecuteAsTemplate `` .).Content }}
		{{ $bookmarklet = print `javascript:(function(){` $bookmarklet `})()` | safeURL }}
		<a href="{{ $bookmarklet }}" title="Gorbachev">Bookmarklet</a>
</html>
