<!doctype html>
<html>
	<head>
		<title>{{ .Site.Title }}</title>
		<meta content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		{{ $landing := resources.Get `styles/landing.scss` |  toCSS (dict `transpiler` `dartsass`) }}
		<link href="{{ $landing.RelPermalink }}" rel="stylesheet">
	</head>
	<body>
		{{ block "content" . }}{{ end }}
		{{ $bookmarklet := print `javascript:(function(){` (resources.Get "scripts/bookmarklet.js").Content `})()` }}
		<a href="{{ $bookmarklet | safeURL }}" title="Gorbachev">Bookmarklet</a>
	</body>
</html>
