// Font metrics.
%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

%font--gill-sans {
	@extend %--shoulders;

	--typography--cap-height:       0.681; // In em.
	--typography--x-height:         0.449;
	--typography--shoulder--bottom: 0.157; // Vertical centering in the line box, across most sizes.

	--typography--inset--left:  -0.076; // Optical insets, left edge of capital "D".
	--typography--inset--right: -0.008; // Right edge of lowercase “f” (since lines tend to end lowercase).

	// Apple, Microsoft, fallback.
	font-family: 'Gill Sans', 'Gill Sans Nova', sans-serif;
}

%font--verdana {
	@extend %--shoulders;

	--typography--cap-height:       0.727;
	--typography--x-height:         0.546;
	--typography--shoulder--bottom: 0.103;

	--typography--inset--left:  -0.098;
	--typography--inset--right: -0.002;

	font-family: 'Verdana', sans-serif;
}
