@use 'reset';

@use 'typography';
@use 'fonts';



// Falsework to determine font metrics.
body {
	--typography--leading: 1;
	--typography--size:    100rem;

	padding: 8rem;
	display: grid;
	gap:     8rem;
	justify-content: center;

	div {
		background-color: gold;
		position:         relative;
		width:            fit-content;

		p {
			color:            rgba(black, 0.5);
			background-color: rgba(orange, 0.5);
		}

		&:after {
			background-color: rgba(tomato, 0.333);
			bottom:   0;
			content:  '';
			display:  block;
			height:   calc(var(--typography--leading) * var(--typography--size) * var(--typography--x-height));
			position: absolute;
			width:    100%;
		}

		&:first-of-type { @extend %font--gill-sans }
		&:last-of-type { @extend %font--verdana }
	}
}
