@use 'reset';



@use "utilities" as *;

@use 'typography';



:root {
	--color:             var(--color--white);
	--color--background: var(--color--slate);

	--color--slate: #4a525a;
	--color--white: white;

	background-color: var(--color--slate);
	color:            var(--color--white);
}
