@use 'common/reset';



body {
	--gutter: 2rem;

	display:        flex;
	flex-direction: column;
	gap:            var(--gutter);
	padding:        var(--gutter);
}

h1 { font-size: 1.62em }

p { max-width: 80ch }

p:not(:first-child) {
	margin-top: var(--gutter);
}

p a { text-decoration: underline }

em { font-style: italic }

a { color: blue }

blockquote {
	border-left-style: solid;
	border-left-width: 0.1em;
	font-style:        italic;
	padding-left:      var(--gutter);
}



