@use 'common/reset';



body {
	--gutter: 20px;

	font-family: sans-serif;
	padding:     var(--gutter);
}

h1 {
	font-size:     1.62em;
	font-weight:   bold;
	margin-bottom: var(--gutter);
}

h1,
p {
	max-width: 80ch;
}

p:not(:first-child) {
	margin-top: var(--gutter);
}

blockquote {
	font-style:  italic;
	padding-left: var(--gutter);
	border-left-width: 0.1em;
	border-left-style: solid;
}

p a {
	text-decoration: underline;
}

em {
	font-style: italic;
}
