@use 'partials/reset';

@use 'partials/typography';
@use 'partials/fonts';



// Falsework to determine font metrics.
body {
	@extend %font--verdana;

	--typography--size: 1000;

	--color: rgba(0, 0, 0, 0.5);

	display:         grid;
	gap:             72rem;
	justify-content: start;
	padding:         12rem 12rem 36rem;
	width:           fit-content;

	section {
		@extend %typography--layout;

		background-color: gold;
		position:         relative;
		width:            fit-content;

		p {
			background-color:         rgba(orange, 0.5);
			position:                 relative;
			text-decoration-skip-ink: none; // To see the overlap.
			max-width:                50ch;

			a { @extend %typography--underline }
		}

		&:before, &:after {
			background-color: rgba(tomato, 0.333);
			content:          '';
			display:          block;
			position:         absolute;
			width:            100%;
			top:              calc(var(--typography--cap) - var(--typography--x));
		}

		&:before { height: var(--typography--x) }
		&:after { height: var(--typography--stroke) }

		&:nth-of-type(2) { @extend %font--gill-sans }
		&:nth-of-type(3) { @extend %font--sf-mono }

		&:last-of-type {
			--typography--size:    20;
			--typography--leading: 1.5;

			display: grid;
			gap:     var(--typography--lead);
		}
	}
}
