@use 'partials/reset';

@use 'partials/typography';
@use 'partials/fonts';



// Falsework to determine font metrics.
body {
	@extend %font--verdana;

	--typography--size: 1000;

	--typography--underline--clear: initial;
	--typography--underline--link:  initial;

	--color: rgba(0, 0, 0, 0.5);

	display:         grid;
	gap:             72rem;
	justify-content: start;
	padding:         36rem 12rem 36rem;
	width:           fit-content;

	section {
		@extend %typography--layout;

		background-color: gold;
		position:         relative;
		width:            fit-content;

		p {
			background-color:         rgba(orange, 0.5);
			position:                 relative;
			text-decoration-skip-ink: none; // To see the overlap.
			max-width:                50ch;

			a {
				@extend %typography--underline;

				// position: relative;
				background-color: rgba(green, 0.25);

				&:before, &:after {
					background-color: rgba(deepskyblue, 0.25);
					content:          '';
					display:          block;
					position:         absolute;
					width:            100%;
					right: 0;
					left:  0;
				}

				&:before {
					bottom: 100%;
					height: calc(var(--typography--content--top) * 1em);
				}

				&:after {
					top: var(--typography--cap);
					height: calc(var(--typography--content--bottom) * 1em);
				}
			}
		}

		&:before, &:after {
			background-color: rgba(tomato, 0.333);
			content:          '';
			display:          block;
			position:         absolute;
			width:            100%;
			top:              calc(var(--typography--cap) - var(--typography--x));
		}

		&:before { height: var(--typography--x) }
		&:after { height: var(--typography--stroke) }

		&:nth-of-type(2) { @extend %font--gill-sans }
		&:nth-of-type(3) { @extend %font--sf-mono }

		&:last-of-type {
			--typography--size:    20;
			--typography--leading: 1.5;

			display: grid;
			gap:     var(--typography--lead);
		}
	}
}
