<!doctype html>
<html>
	<head>
		<script src="/livereload.js?mindelay=10&v=2&port=443&path=livereload"></script>
		<title>{{ .Site.Title }}</title>
		{{ $metrics := resources.Get `styles/metrics.scss` }}
		{{ $metrics = $metrics | toCSS (dict `transpiler` `dartsass` `targetPath` `metrics.css`) }}
		<link href="{{ $metrics.RelPermalink }}" rel="stylesheet">
	</head>
	<body>
		<section>
			<p><a href="#">Dfq</a></p>
		</section>
		<section>
			<p><a href="#">Dfq</a></p>
		</section>
		<section>
			<p><a href="#">Dfq</a></p>
		</section>
		<section>
			<p>Lorem ipsum.</p>
			<p>Consectetur <a href="#">adipiscing</a> elit. Duis et blandit arcu. Donec ornare massa nec quam tristique, ut aliquam quam eleifend.</p>
			<p>Praesent maximus mi a felis fermentum vehicula. In luctus fermentum sagittis. Nunc at vulputate est, placerat consequat nulla. In et magna mollis, egestas ex eu, ullamcorper ipsum.</p>
			<p>Ut dignissim tellus ac purus dignissim, ac sodales metus tincidunt. Proin sed ligula tellus. Sed ornare porttitor sodales.</p>
		</section>
	</body>
</html>
